main {
    background-color: #4240A3;
    height: 18rem;
}

.details {
    padding: 2rem 5rem 2rem 5rem;
    text-align: center;
}

.my-name {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 8rem 1rem 8rem;
    color: #937F88;
    
}

.creative {
    font-size:3rem;
    font-weight: 800;
    padding: 1rem 5rem;
    color: aliceblue;
    margin-bottom: 2rem;
}

