.nav-bar {
    background-color: #4240A3;
}

.logo {
    padding: 1rem 0 ;
    font-size: 3rem;
    font-weight: bolder;
    /* margin-left: -15rem; */
    color: aliceblue;
    text-align: center;
}
